*, html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#app h1, #app p {
  text-align: center;
}

#app {
  padding: 30px;
}

#addNewTerm {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 35px;
}

.nice_button {
    border-radius: 10px;
    background: forestgreen;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin: 15px;
    font-weight: 700;
}

.nice_button:hover {
    background: gainsboro;
    color: black;
}

.newWordInput {
  position: relative;
}

#newWordInputError, #searchedWordInputError{
  color: red;
  position: absolute;
}

hr {
  width: 50%;
  margin: auto;
}

#checkDictionary {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

#results {
  margin-top: 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
