html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    min-width: 400px;
    width: 70%;
    margin: auto;
}

header {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
}

hr {
    border-bottom: 1px solid gray;
    margin: auto;
}

.rules {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-bottom: 20px;
}

#number {
    width: 150px;
    font-size: 0.8em;
}

button[type=submit],button[type=reset] {
    padding: 5px 25px;
    border: none;
    background-color: #3CBC8D;
    color: white;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}

.control-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
}

#playGround {
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nice_button {
    border-radius: 10px;
    background: gray;
    color: white;
    padding: 10px;
    border: none;
    margin: 15px;
}

.nice_button:hover {
    background: gainsboro;
    color: black;
}

.setup {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.setup form {
    display: flex;
    flex-flow: column wrap;
}

.feedback {
    position: relative;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

#numberError {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 0px;
    width: 450px; /* Need a specific value to work */
}

.gameDetails li{
    list-style: none;
    display: inline;
    color: green;
}

.gameDetails ul{
    margin: 0;
    padding: 0;
}

.gameDetails {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-weight: 700;
    display: none;
}

#gamePlayerDetails {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 15px;
}

#choiceFeedback {
    color: red;
}

.input-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-field input {
    width: 150px;
    margin-left: 20px;
}

.filled {
    color: red;
}

/* modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    position: relative;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    bottom: 100%;
    left: 100%;
    background: white;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }